<!-- <ngb-tabset #mtab="ngbTabset" [activeId]="mtab" (tabChange)="selectedTab($event)">
  <ngb-tab title="A" id="aTab">
    <ng-template ngbTabContent>
      <div class="row mt-5">
        <div class="col-2" *ngFor="let c of casts | slice : 0 : 12">
          <div class="feature-box main-img ">
            <h6>{{c.name}}</h6>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab><ngb-tab title="B" id="bTab">
    <ng-template ngbTabContent>
      <div class="row mt-5">
        <div class="col-2" *ngFor="let c of casts | slice : 0 : 12">
          <div class="feature-box main-img ">
            <h6 class="heading-tertiary u-margin-bottom-small">{{c.name}}</h6>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="C" id="cTab">
    <ng-template ngbTabContent>
      <div class="row mt-5">
        <div class="col-2" *ngFor="let c of casts | slice : 0 : 12">
          <div class="feature-box main-img ">
            <h6 class="heading-tertiary u-margin-bottom-small">{{c.name}}</h6>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset> -->

<div class="container">
    <div class="row">
      <ng-container *ngFor="let cast of casts | paginate: { itemsPerPage: 20, currentPage: page }">
        <div class="card small-card mr-5 mb-4">
          <div class="row">
            <div class="col-5 small-image">
              <a [routerLink]="['/movies/cast/', cast.id]">
                <img class="small-image" src={{cast.profilePath}}>
              </a>
            </div>
            <div class="col-7 ">
              <div class="card-block mt-2">
                <h4 class="card-title font-weight-bold text-light">{{cast.name}}</h4>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class= "row">
      <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
  </div>